/* Colours */
:root {
  --yellow: #FDCF00;
  --blue: #0E77D2;
  --darkblue: #005B90;
  --darkestgrey: #252525;
  --grey: #6B6C6E;
  --lightgrey: #E4E5E6;
  --darkpurple: #4547BF;
}

/* Font */
@font-face {
font-family: blender;
src: url('../assets/fonts/blender-book-webfont.woff2') format('woff2'),
     url('../assets/fonts/blender-book-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: blender-bold;
src: url('../assets/fonts/blender-bold-webfont.woff2') format('woff2'),
     url('../assets/fonts/blender-bold-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: blender-medium;
src: url('../assets/fonts/blender-medium-webfont.woff2') format('woff2'),
     url('../assets/fonts/blender-medium-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* Body */
body{
  background: white;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

h1{
  font-family: blender;
  font-size: 4.75em;
  line-height: 1.2;
}

h2{
  font-family: blender;
  font-size: 3em;
  line-height: 1.2;
  margin: 0;
}

h3{
  font-family: blender;
  font-size: 1.75em;
  line-height: 1.2;
  margin: 0;
}

h4{
  font-family: Rubik;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 8px 0;
}

h5{
  font-family: blender-medium;
  font-size: 1em;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}

h6{
  font-family: blender;
  font-size: 0.9em;
  line-height: 1.2;
  margin: 0;
  padding: 15px 0 5px 20px;
  text-transform: uppercase;
}

blockquote{
  font-family: blender-medium;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 50px 30px;
}

@media only screen and (max-width: 890px) {
  h1{
    font-size: 3.375em;
  }
  h2{
    font-size: 2em;
  }
}

.content h2.accent-dark::after{
  content:"";
  background-color: var(--yellow);
  display: block;
  width: 200px;
  height: 6px;
  margin-top: 8px;
  margin-left: -100px;
}

.content h6.accent-dark::after{
  content:"";
  background-color: var(--yellow);
  display: block;
  width: 100px;
  height: 4px;
  margin-top: 10px;
  margin-left: -30px;
}

.content h2.accent-light::after{
  content:"";
  background-color: var(--blue);
  display: block;
  width: 200px;
  height: 6px;
  margin-top: 8px;
  margin-left: -100px;
}

/* Utilities */
.unlist{
  list-style: none;
  padding-left: 0;
}
.container{
  max-width: 1280px;
}

@media only screen and (max-width: 890px) {
.desktop{
  display: none;
  }
}

@media only screen and (min-width: 891px) {
.mobile{
  display: none;
  }
}

.shadow{
  box-shadow: 0 2px 4px 0 var(--grey);
}

.background-box-grey{
  background: rgba(0, 0, 0, 0.8);
}

.background-box-blue{
  background: var(--blue);
}

.background-box-white{
  background: white;
}

.white-text{
  color: white;
}

.purple-text{
  color: var(--darkpurple);
}

.yellow-text{
  color: var(--yellow);
}

/* Header */
.header{
  margin: 0 auto;
}

@media only screen and (min-width: 891px) {
  .header .nav-trigger {
    display: none;
  }
  .header .branding img.mini-logo{
    display: none;
  }
  .header .headerInset{
    display: flex;
    justify-content: space-between;
  }
  .header .headerInset .external a{
    color: var(--grey);
  }
  .header .site{
    border-top: solid 1px var(--grey);
  }
}

@media only screen and (max-width: 890px) {
  .header .branding img.full-logo{
    display: none;
  }
  .header .headerInset{
    display: flex;
    justify-content: flex-start;
    background-color: var(--blue);
    position: fixed;
    width: 100vw;
    top: 0;
    box-sizing: border-box;
    z-index: 100;
  }
  .header .headerInset .nav-trigger{
    flex-grow: 0;
    margin-right: 20px;
  }
  .header .headerInset .branding{
    flex-grow: 1;
  }
  .header .headerInset .external{
    flex-grow: 0;
  }
  .header .headerInset .external a{
    color: white;
  }
}

.header .nav-trigger img{
  width: 28px;
}

.header .nav-trigger a.close{
  display: none;
}

.header .branding img.full-logo{
  height: 30px;
}

.header .branding img.mini-logo{
  height: 30px;
}

.header .headerInset{
  align-items: center;
  padding: 20px 30px 10px 30px;
}

.header .headerInset .external a{
  font-family: blender-bold;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0 0 20px;
}

.header .headerInset .external a:hover{
  color: var(--yellow);
}


@media only screen and (min-width: 891px) {
.header .site .unlist{
  display: flex;
  justify-content: left;
  align-items: center;
  }
}

.header .site .unlist li a{
  text-decoration: none;
  color: var(--darkestgrey);
}

@media only screen and (max-width: 890px) {
  .header .site .unlist .emphasis a{
    color: var(--blue);
    font-family: blender-medium;
    text-transform: uppercase;
    font-size: 1.15em;
    }
  .header .site .unlist .emphasis a:hover{
    color: var(--yellow);
    }
}

@media only screen and (min-width: 891px) {
.header .site .unlist .active{
  border-bottom: 4px solid var(--blue);
  padding-bottom: 3px;
  }
.header .site .unlist .emphasis{
  background-color: var(--blue);
  border-radius: 20px;
  box-shadow: 0 1px 2px var(--grey);
  }
.header .site .unlist li a{
  margin-right: 40px;
  }
.header .site .unlist .emphasis a{
  color: white;
  padding: 10px;
  margin: 10px;
  }
.header .site .unlist li.emphasis:hover{
  background-color: var(--darkblue);
  }
.header .site .unlist .emphasis a:hover{
  color: white;
  }
}

.header .site .unlist li a:hover{
  color: var(--blue);
}

@media only screen and (min-width: 891px) {
  .header .site{
    width: calc(100% - 60px);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 890px) {
  .header{
    position: relative;
  }
}

@media only screen and (max-width: 890px) {
  .header .site.mobile-closed{
    display: none;
  }
  .header .site.mobile-open{
    display: block;
  }
}

@media only screen and (max-width: 890px) {
  .header .site.mobile-open{
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    width: 100vw;
    height: 100vh;
    top: 66px;
  }
}

@media only screen and (max-width: 890px) {
  .header .site ol{
    margin: 0;
  }
  .header .site ol li a{
    display: block;
    padding: 20px 30px;
    border-bottom: solid 1px var(--lightgrey);
  }
}

/* Main */
main.content{
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.content .headerWrapper{
  display: flex;
  justify-content: left;
  align-items: center;
}

@media only screen and (max-width: 890px) {
  .content .headerWrapper img{
    height: 60px;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 891px) {
  .content .headerWrapper img{
    height: 80px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1281px) {
  main.content{
    margin: 30px auto;
  }
}

@media only screen and (min-width: 891px) {
  main.content{
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media only screen and (max-width: 890px) {
  main.content{
    margin-top: 120px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* Footer */
footer.footer div.calloutWrapper{
  padding: 20px 0;
  margin-top: 50px;
  background-color: var(--blue);
}

footer.footer div.callout{
  width: calc(100% - 60px);
  margin: 0 auto;
}

footer.footer div.callout p{
  font-family: blender;
  color: white;
  font-size: 1.75em;
  line-height: 1.2;
}

@media only screen and (max-width: 890px) {
  footer.footer div.callout{
    padding-bottom: 40px;
    text-align: center;
  }
  footer.footer div.callout p{
    text-align: center;
  }
}
@media only screen and (min-width: 891px) {
  footer.footer div.callout{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer.footer div.callout p{
    padding-right: 20px;
  }
}

footer.footer div.callout p mark.emphasis{
  color: var(--yellow);
  background: none;
}

footer.footer div.callout a{
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: black;
  border: solid 1px white;
  padding: 15px 30px;
  min-width: 130px;
  text-align: center;
}

footer.footer div.callout a:hover{
  background: black;
  color: var(--yellow);
  border: solid 1px var(--yellow);
}

@media only screen and (max-width: 1242px) {
  .footer .awards li img{
    display: block;
    margin: 50px auto;
  }
  .footer .awards li img.desktop{
    display: none;
  }
  .footer .awards li img.medium-png{
    height: 90px;
  }
}

@media only screen and (min-width: 1243px) {
  footer.footer ol.awards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  footer.footer ol.awards li img{
    display: block;
    margin: 50px 0;
  }
  footer.footer ol.awards li img.medium-png{
    height: 60px;
    }
}

footer.footer ol.awards li img.smallest-png{
  height: 130px;
}

footer.footer ol.awards li img.small-png{
  height: 95px;
}

footer.footer ol.awards li img.large-png{
  height: 50px;
}

/* Background */
div.backgrounds div.background{
  position: absolute;
}

div.backgrounds div.upperLeftGrid{
  background: transparent url(../assets/images/grid.svg) no-repeat -120px center;
  top: 200px;
  left: 0;
  width: 300px;
  height: 350px;
  z-index: -50;
  background-size: 70%;
}

@media only screen and (min-width: 641px) and (max-width: 1280px) {
  div.backgrounds div.upperLeftGrid{
    width: 50vw;
    height: 58.333vw;
    min-width: 300px;
    max-width: 500px;
    min-height: 350px;
    max-height: 600px;
  }
}

@media only screen and (min-width: 1281px) {
  div.backgrounds div.upperLeftGrid{
    width: 500px;
    height: 600px;
  }
}

div.backgrounds div.upperRightBox{
  background: var(--blue);
  opacity: .05;
  width: 30vw;
  height: 400px;
  top: 500px;
  right: 0;
  z-index: -50;
}

div.backgrounds div.verticalLine{
  background: var(--blue);
  width: 1px;
  height: 620px;
  top: 300px;
  right: 20px;
  z-index: -10;
}

div.backgrounds div.midRightGrid{
  background: transparent url(../assets/images/grid.svg) no-repeat 125px center;
  top: 950px;
  right: 0;
  width: 300px;
  height: 350px;
  z-index: -50;
  background-size: 100%;
}

@media only screen and (min-width: 641px) and (max-width: 1280px) {
  div.backgrounds div.midRightGrid{
    width: 50vw;
    height: 58.333vw;
    min-width: 300px;
    max-width: 500px;
    min-height: 350px;
    max-height: 600px;
  }
}

@media only screen and (min-width: 1281px) {
  div.backgrounds div.midRightGrid{
    width: 500px;
    height: 600px;
  }
}

div.backgrounds div.bottomRightGrid{
  background: transparent url(../assets/images/grid.svg) no-repeat 125px center;
  top: 2400px;
  right: 0;
  width: 300px;
  height: 350px;
  z-index: 50;
  background-size: 100%;
}

@media only screen and (min-width: 641px) and (max-width: 1280px) {
  div.backgrounds div.bottomRightGrid{
    width: 50vw;
    height: 58.333vw;
    min-width: 300px;
    max-width: 500px;
    min-height: 350px;
    max-height: 600px;
  }
}

@media only screen and (min-width: 1281px) {
  div.backgrounds div.bottomRightGrid{
    width: 500px;
    height: 600px;
  }
}

div.backgrounds div.bottomRightBox{
  background: var(--blue);
  opacity: .05;
  width: 30vw;
  height: 700px;
  top: 3200px;
  right: 0;
  z-index: -20;
}
